@page
@model FiscalFriendsWeb.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log In";
}
<link rel="stylesheet" href ="~/css/LoginStyleSheet.css" />
<div class="signInContainer">
    <form method="post" class="signInBox">
    <h2> Welcome. </h2>
    <p> Please sign in to access your account.</p>
    <div class="row text-danger" asp-validation-summary="All"></div>

    <!-- Sign-In Box -->

    <!-- Email Label -->
    <div class="frmGroup">
    <label asp-for="loginUser.Email" class="form-label"></label>
            <input asp-for="loginUser.Email" type="text" class="form-control" placeholder="email" />
            <span asp-validation-for="loginUser.Email" class="text-danger"></span>

    <!-- Password Label -->
    <label asp-for="loginUser.Password" class="form-label"></label>
    <input asp-for="loginUser.Password" type="password" class="form-control" placeholder="password"/>
    <span asp-validation-for="loginUser.Password" class="text-danger"></span>

    <!-- RememberMe CheckBox
    <div class="checkBoxContainer">
    <input type="checkbox" id="rememberMe" name="rememberMe" />
    <label asp-for="loginUser.rememberMe">Remember Me</label>
    <br>
    <br>
    </div>
    -->
    <br />
    <br />
    <!-- Sign-In Button-->
    <div class"frmGroup">
    <button id="btnLogin" class="btn btn-primary">Sign In</button>
    <br>
    <br>

    <!-- Forgot User/Pass-->
    Forgot <a href="/forgotLink">Username or Password?</a>
    <br>
        Not a User? <a href="/Account/Register">Sign up here.</a>
        </div>
    </form>
</div>
    