@page
@model FiscalFriendsWeb.Pages.Account.ProfileModel
@{
    
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}

<link rel="stylesheet" href="~/css/ProfileStyleSheet.css" />

<div class="profileContainer">
    <div class="profileBox"> 
        <div class="profileContent">
            <label>First Name:     @Model.UserProfile.FirstName</label>
        <br />
            <label>Last Name:    @Model.UserProfile.LastName</label>
        <br />
            <label>Username:     @Model.UserProfile.UserName</label>
        <br />
            <label>Email:    @Model.UserProfile.Email</label>
        <br />
            <div class="profilePicture"></div>
        </div>
    </div>
</div>
