﻿
@page
@model FiscalFriendsWeb.Pages.Account.Register
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/RegisterStyleSheet.css" />
<div class="signInContainer">
<form method="post" class="signInBox">
    <h2> Hello there! </h2>
    <p> We're thrilled to welcome you to FiscalFriends. Sign up today and discover how we can achieve our financial goals together!'</p>

    <!-- Registration Box -->

    <!-- First Name Label -->
    <div class="frmGroup">
            <label asp-for="newUser.FirstName" class="form-label"></label>
            <input asp-for="newUser.FirstName" type="text" class="form-control" placeholder="first name"/>
            <span asp-validation-for="newUser.FirstName" class="text-danger"></span>

    <!-- Last Name Label -->
            <label asp-for="newUser.LastName" class="form-label"></label>
            <input asp-for="newUser.LastName" type="text" class="form-control" placeholder="last name"/>
            <span asp-validation-for="newUser.LastName" class="text-danger"></span>  
    <!-- Email Label -->
            <label asp-for="newUser.Email" class="form-label"></label>
            <input asp-for="newUser.Email" type="text" class="form-control" placeholder="email"/>
            <span asp-validation-for="newUser.Email" class="text-danger"></span>        
    <!-- PhoneNumber Label -->
            <label asp-for="newUser.PhoneNumber" class="form-label"> Phone Number:</label>
            <input asp-for="newUser.PhoneNumber" type="text" class="form-control" placeholder="phonenumber"/>
            <span asp-validation-for="newUser.PhoneNumber" class="text-danger"></span>
            <p class=" data-rates-message"> Message and data rates may apply.</p>

    <!-- UserName Label -->

            <label asp-for="newUser.UserName" class="form-label"></label>
            <input asp-for="newUser.UserName" type="text" class="form-control" placeholder="username"/>
            <span asp-validation-for="newUser.UserName" class="text-danger"></span>

    <!-- PassowrdHash Label-->
            <label asp-for="newUser.Password" class="form-label"></label>
            <input asp-for="newUser.Password" type="password" class="form-control" placeholder="password"/>
            <span asp-validation-for="newUser.Password" class="text-danger"></span>
 
    <!-- Birthday Label-->
            <label asp-for="newUser.Birthday" class="form-label"></label>
            <input asp-for="newUser.Birthday" type="date" class="form-control" placeholder="date of birth"/>
            <span asp-validation-for="newUser.Birthday" class="text-danger"></span>

    <!-- PreferredLanguage Label-->
    <!--
            <label asp-for="newUser.PreferredLanguage" class="form-label"></label>
            <span asp-validation-for="newUser.PreferredLanguage" class="text-danger"></span>
            <input asp-for="newUser.PreferredLanguage" type="text" class="form-control" placeholder="language"/>
    -->
            <br />
            <br /> 
    <!-- Register Button-->
            <div class="frmGroup">
            <button id="btnRegister" class="btn btn-primary">Register</button>

            <br />
            <br />
            <div class="already-a-user">
                    Already a User? <a href="/Account/Login">Sign in here.</a>
                </div>
        </div>
    </form>
    </div>

<!-- Zip
<div class="row m-2">
    <div class="col-2">

        <label asp-for="newUser.ZipCode" class="form-label"></label>
    </div>
    <div class="col-10">
        <span asp-validation-for="newUser.ZipCode" class="text-danger"></span>
        <input asp-for="newUser.ZipCode" type="text" class="form-control" />

    </div>
</div>
-->
