@page
@model IndexModel
@{
    ViewData["Title"] = "Home page"; // This is the html for the home page.
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";

}
<link rel="stylesheet" href="~/css/IndexStyleSheet.css" />
<h1 class="display">Hello!</h1>
<div class="logInContainer">
    <!-- TEMPORARY -->
    <div class="logInBox">
        <div>Temp navigation links</div>
        <!-- Placing these elsewhere to better fit page structure (TEMPORARY) -->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/DailyExpenses/AddDailyExpense">Add Daily Expense</a>
        </li>
        </ul>
    </div>
</div>
