@page
@model IndexModel
@{
    ViewData["Title"] = "Home page"; // This is the html for the home page.
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";

}
<link rel="stylesheet" href="~/css/IndexStyleSheet.css" />
<div class="logInContainer">
    <!-- TEMPORARY -->
    <div class="logInBox">
        <h1>Hello!</h1>
        <h3>This webpage is currently under construction!</h3>
    </div>
</div>