@page
@model IndexModel
@{
    ViewData["Title"] = "Home page"; // This is the html for the home page.
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}

<link rel="stylesheet" href="~/css/IndexStyleSheet.css" />
<div class="homepageContainer">
    <!-- TEMPORARY -->
    <div class="homepageBox">
        <div class="bluebox-2">
            <h1>Hello!</h1>
            <p> Welcome to FiscalFriends, a small business with big ideas on how to make your financial goals become reality!</p>
        </div>
        <div class="bluebox">
            <h1> Take control of your financial future </h1>
            <p> Embrace effecient budgeting and insightful spending analysis with our personal finance tools, designed to guide you towards achieving your financial goals with confidence and clarity.</p>
            <a id="extraLogIn" class="pretty-button" asp-area="" asp-page="/Account/Login">Login</a>
            <a id="extraRegister" class="pretty-button" asp-area="" asp-page="/Account/Register">Register</a>
        </div>
   </div>
</div>

