@page
@model FiscalFriendsWeb.Pages.DailyExpenses.AddDailyExpenseModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}

<link rel="stylesheet" href="~/css/AddDailyExpenseStyleSheet.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/js/site.js" />
<!-- Temporary Solution for category dropdown -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="dailyExpenseContainer">
    <form method="post" class="dailyExpenseBox">
        <h1>New Expense Form</h1>
        <!-- Date Purchased Label -->
        <label asp-for="newDailyExpense.date" class="form-label">Date Purchased:</label>
        <input asp-for="newDailyExpense.date" type="date" class="form-control" placeholder="transaction date" />
        <span asp-validation-for="newDailyExpense.date" class="text-danger"></span>

        <!-- Daily Expenses Label -->
        <label asp-for="newDailyExpense.Category">Category:</label>
        <select asp-for="newDailyExpense.Category" asp-items="@Model.Categories"> onchange="displaySelectedCategory(this.value)" class="form-control"></select>
        <br />
        <!-- <input asp-for="newDailyExpense.Category" type="text" class="form-control" placeholder="category"> -->
        <!-- <input type="text" id="selectedCategory" class="form-control" style="display:none" placeholder="category" /> -->
        <!-- Vendor Label -->
        <label asp-for="newDailyExpense.vendor" class="form-label">Vendor:</label>
        <input asp-for="newDailyExpense.vendor" type="text" class="form-control" placeholder="vendor" />
        <span asp-validation-for="newDailyExpense.vendor" class="text-danger"></span>

        <!-- Payment Method Label -->
        <label asp-for="newDailyExpense.paymentMethod" class="form-label">Payment Method:</label>
        <input asp-for="newDailyExpense.paymentMethod" type="text" class="form-control" placeholder="payment method" />
        <span asp-validation-for="newDailyExpense.paymentMethod" class="text-danger"></span>

        <!-- Amount Label -->
        <label asp-for="newDailyExpense.amount" class="form-label">Amount Spent:</label>
        <input asp-for="newDailyExpense.amount" type="text" class="form-control" placeholder="$0.00" />
        <span asp-validation-for="newDailyExpense.amount" class="text-danger"></span>
        <!-- Description Label -->
        <div class="description-container">
            <label asp-for="newDailyExpense.description" class="form-label">Description:</label>
            <textarea asp-for="newDailyExpense.description" type="text" class="form-control" placeholder="Additional comments..."></textarea>
            <span asp-validation-for="newDailyExpense.description" class="text-danger"></span>
        </div>
        <!-- Buttons Container -->
        <div class="buttons-container">
            <!-- AddDailyExpense Button-->
            <button id="btnAddDailyExpense" class="btn btn-primary">Submit Form</button>
            <!-- Clear Form Button -->
            <button type="reset" class="btn btn-secondary">Clear Form</button>
        </div>
    </form>
</div>