@page
@model FiscalFriendsWeb.Pages.DailyExpenses.EditDailyExpenseModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthentication" : "_Layout";
}

<link rel="stylesheet" href="~/css/EditDailyExpenseStyleSheet.css" />

<div class = "dailyExpenseContainer"> 
    <form method="post" class="dailyExpenseBox">
        <!-- Date Purchased Label -->
        <label asp-for="Expense.date">Date Purchased:</label>
        <input type="date" class="form-control" placeholder="" asp-for="Expense.date" />
        <!--  This is to make the drop down table for daily expenses-->
        <label asp-for="Expense.Category">Category:</label>
        <select asp-for="Expense.Category" asp-items="@Model.Categories"></select>
        <br />
        <br />
        <!-- Vendor Method Label -->
        <label asp-for="Expense.vendor">Vendor:</label>
        <input type="text" class="form-control" asp-for="Expense.vendor" />
        <span asp-validation-for="Expense.vendor" class="text-danger"></span>
        <!-- Payment Method Label -->
        <label asp-for="Expense.paymentMethod">Payment Method:</label>
        <input type="text" class="form-control" asp-for="Expense.paymentMethod" />
        <span asp-validation-for="Expense.paymentMethod" class="text-danger"></span>
        <!-- Amount Label -->
        <label asp-for="Expense.amount">Amount:</label>
        <input type="text" class="form-control" asp-for="Expense.amount" placeholder="0.00" />
        <span asp-validation-for="Expense.amount" class="text-danger"></span>
        <!-- Description Label -->
        <label asp-for="Expense.description">Description:</label>
        <textarea class="form-control" asp-for="Expense.description"> </textarea>
        <!-- Update Bottom -->
        <div class="buttons-container">
            <input type="submit" vlaue="Update" class="btn btn-primary" />
        </div>
    </form>
</div>
