/*

    Header & Home Page Style Sheet

*/


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    background: #c0f2ba;
    bottom: 0;
    width: 100%;
    height: auto;
    white-space: nowrap;
    line-height: 60px;
    margin: auto;
    text-align: left;
}

/* CSS for the header */

.header-logo-top {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

.blue-box {
    background-color: lightblue;
    border: 1px solid #25b623;
    height: 100px;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: auto;
}
.slogan {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.navbar-collapse {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.container.flex-container {
    background-color: #c0f2ba;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-left: 0;
    width: auto;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;

}

    .navbar-nav .nav-item {
        margin-right: 20px;
        margin-top: -1.5%;
    }

/* 
    Top right side interactions 
    Language | Customer Service | About Us ) 
*/

.top-right-interactions {
    display: flex;
    border-left: 2px solid #25b623;
    padding-left: 10px;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 20px;
    right: 0.5rem;
    text-align: left;
}

.top-right-interactions a {

    color: black;
    text-decoration: none;
    padding: 0.3rem 1rem;
    font-size: 10px;

}

.top-right-interactions button:focus,
.top-right-interactions .btn:focus,
.top-right-interactions .btn:active {
     outline: none !important;
     box-shadow: none !important;

}