/*
    Add Daily Expense Style Sheet
*/

.dailyExpenseContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.dailyExpenseBox {
    background-color: lightblue;
    text-align: left;
    border: 1px solid #000;
    border-radius: 8px;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 20px;
}
    .dailyExpenseBox h1 {

        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;

    }
