/*
    Homepage Style Sheet
*/

.homepageContainer {
    background-image: url('../css/HomePageImage2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 40%;
}
.homepageBox {
    text-align: center;
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-left: 50%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.bluebox {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    animation: blueAndGreen-animation 6s linear infinite;
    border: 2.5px solid;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
}
    .bluebox-1 p {
        font-size: 18px;
    }

.bluebox-2 {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    animation: blueAndGreen-animation 6s linear infinite;
    border: 2.5px solid;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
    border-radius: 80px;
    font-family: 'Times New Roman', Times, serif;
}   
    .bluebox-2 p {
        font-size: 18px;
    }

@keyframes blueAndGreen-animation {
    0% {
        border-color: lightgreen;
    }

    25% {
        border-color: green;
    }

    50% {
        border-color: lightblue;
    }

    75% {
        border-color: blue;
    }

    100% {
        border-color: lightgreen;
    }
}

.pretty-button {
    border: 2.5px solid;
    border-radius: 75%;
    border-color: #29622c;
    background-color: #c0f2ba;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 30%;
    box-sizing: border-box;
    text-decoration: none;
}

.pretty-button:hover {
    background-color: #66be75;
}