/* 
    Profile Style Sheet
*/

.profileContainer {
    /* <a href="https://www.freepik.com/free-photo/top-view-finance-business-elements_11621172.htm#query=finance%20background&position=3&from_view=keyword&track=ais&uuid=1c3aa48c-706c-4da8-8c34-0a162cd952ae">Image by freepik</a>; */
    background-image: url('../css/profileBackgroundImage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
    font-family: 'Times New Roman', Times, serif;
}

.profileContent {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 35vw;
    height: 35vh;
    margin-top: 1vh;
    padding: 3%;
    font-family: 'Times New Roman', Times, serif;
    animation: blueAndGreen-animation 6s linear infinite;
    border: 5px solid;
    font-size: 18px;
}

.profileHeader {
    width: 100%;
    text-align: center;
}

.profilePicture {
    background-image: url('../css/ProfileImage.png');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    justify-content: center;
    width: 10vw;
    height: 25vh;
    margin: -15px;
    border: 5px solid black;
    overflow: hidden;
}

.btn-primary {
    width: auto;
    margin-top: auto;
}

@keyframes blueAndGreen-animation {
    0% {
        border-color: lightgreen;
    }
    25% {
        border-color: green;
    }
    50% {
        border-color: lightblue;
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: lightgreen;
    }
}

.h1 {
    font-size: 48px;
    text-align: center;
}

.profileInfo {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;

}